In [2]:
import numpy as np
import cv2 as cv

In [3]:
img_red = cv.imread('data/frame100-(41.8, 62.7, 25.9).png')
img_blue = cv.imread('data/frame200-(26.8, 150.2, 82.7).png')

In [4]:
def show_img_list(img_list):
    for i in range(len(img_list)):
        cv.imshow(str(i), img_list[i])
    cv.waitKey(0)
    cv.destroyAllWindows()

In [5]:
def apply_filter(img):
    lower = np.array([0,50, 50])
    upper = np.array([130,255,255])
    hsv = cv.cvtColor(img, cv.COLOR_BGR2HSV)
    mask = cv.inRange(hsv, lower, upper)
    return cv.bitwise_and(img, img, mask= mask)

In [6]:
def get_circles(img):
    print()
    gray = cv.cvtColor(img,cv.COLOR_BGR2GRAY)
    gray = cv.medianBlur(img,5)
    circles = cv.HoughCircles(gray,cv.HOUGH_GRADIENT,1,20,
                            param1=50,param2=30,minRadius=0,maxRadius=0)
    return np.uint16(np.around(circles))

In [49]:
show_img_list([img_red_filter])

In [8]:
img_red_filter = apply_filter(img_red)

In [11]:
img_red_fin = img_red_filter[np.any(img_red_filter != 0, axis=2)]

In [13]:
img_red_fin.shape

(42498, 3)

In [14]:
img_red_filter.shape

(901, 1848, 3)

In [51]:
img_red_gray = cv.cvtColor(img_red_filter, cv.COLOR_BGR2GRAY)
show_img_list([img_red_gray])
non_zero_idx = np.nonzero(img_red_gray > 10)

In [63]:
import pandas as pd

In [64]:
df = pd.DataFrame(non_zero_idx)

In [65]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,430,431,432,433,434,435,436,437,438,439
0,384,385,386,387,388,389,390,391,392,393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,292,293,294,295,296,297,298,299,300,301,...,1439.0,1440.0,1441.0,1442.0,1443.0,1444.0,1445.0,1446.0,1447.0,1448.0

In [40]:
# unq_rows = np.unique(non_zero_idx[0]) 
# if unq_rows[-1] <= (unq_rows[0] + len(unq_rows))*1.1:
#     print (unq_rows[0], unq_rows[-1])

# else:
i = 0
while i < len(unq_rows):
    print(unq_rows[i])
    while i + 1< len(unq_rows) and unq_rows[i+1] < unq_rows[i] + 10:
        i += 1
    i += 1
    print(unq_rows[i - 1])

384
713